#!/bin/bash

### BEGIN INIT INFO
# Provides:          apacheds
# Required-Start:    $network
# Required-Stop:     $network
# Default-Start:     2
# Default-Stop:      0 1 6
# Short-Description: Apache Directory Server
### END INIT INFO

RETVAL=0
pidfile=/var/run/apacheds.pid
homedir=/usr/local/apacheds
prog=apacheds
auser=<%= @node['apacheds']['user'] %>
export JAVA_OPTS="-Xmx256m"

doRun() {
    local PID=$(cat "$pidfile" 2>/dev/null) || return 1
    kill -0 "$PID" 2>/dev/null || return 1
    return 0
}

. /lib/lsb/init-functions

start() {
    log_daemon_msg "Starting $prog"
    doRun
    if [ $? -eq 0 ]; then
	log_progress_msg "apparently already running"
        log_end_msg 0
	return 0
    else
<% if @node['apacheds']['port'] <= 1024 or @node['apacheds']['ssl_port'] <= 1024 then %>
	start-stop-daemon -S -p"$pidfile" -c "$auser" -d"$homedir" --exec "/usr/bin/authbind" -- "--deep" "$homedir/bin/apacheds.sh" 2>&1 | logger -t 'apacheds' &
<% else %>
	start-stop-daemon -S -p"$pidfile" -c "$auser" -d"$homedir" --exec "$homedir/bin/apacheds.sh" 2>&1 | logger -t 'apacheds' &
<% end %>
	sleep 1
	pgrep -u $auser java 2>/dev/null >$pidfile
	doRun
	if [ $? -eq 0 ]; then
	    log_end_msg 0
	    return 0
	else
	    log_end_msg 1
	    return 1
	fi
    fi
}

stop() {
    log_daemon_msg "Stopping $prog"
    doRun
    state=$?
    if [ $state -eq 1  ]; then
	log_progress_msg "not running"
	log_end_msg 0
	return 0
    else
	if [ $UID -eq 0 ] && type start-stop-daemon > /dev/null 2>&1; then
	    start-stop-daemon --stop -p"$pidfile" -s HUP --retry=TERM/30/KILL/5

	    doRun; v=$?
	    if [ $v -eq 0 ]; then
		log_end_msg 1
		return 1
	    else
		rm -f "$pidfile"
		log_end_msg 0
		return 0
	    fi
	else
	    log_progress_msg "Not root"
	    log_end_msg 0
	    return 0
	fi
    fi
}

case "$1" in
	start)
		start || exit 1
		;;
	stop)
		stop || exit 1
		;;
	force-reload)
		stop
		start || exit 1
		;;
	restart)
		stop
		start || exit 1
		;;
	status)
	        log_daemon_msg "Checking status of $prog"
		doRun
		case "$?" in
		    0)
			log_progress_msg "running"
			log_end_msg 0
			;;
		    *)
			log_progress_msg "stopped"
			log_end_msg 0
			exit 3
			;;
		esac
		;;
	*)
	        echo $"Usage: $0 {start|stop|force-reload|restart|status}"
		exit 2
		;;
esac
exit 0
